*.doc
*.out
*.bin
# *.hex
*.s19
*.log
*.map
*.o
*.obj
*.pbi
*.pbd
*.cout
*.xcl
*.browse
*.linf
*.dbgdt
*.bat
!CLEAN.bat
*.dni
*.dnx
*.ps1
*.wsdt
*.wspos
*.dep
*.ewd
*.ewt
SI/
doc/
# Debug/
Release/
settings/

