*.out
*.bin
*.log
*.map
*.o
*.obj
*.pbi
*.pbd
*.cout
*.xcl
*.browse
*.linf
*.dbgdt
*.bat
!CLEAN.bat
*.dni
*.dnx
*.ps1
*.wsdt
*.wspos
*.dep
*.ewd
*.ewt
*.sim
*.pdf
SI/
Debug/
Release/
settings/
Output/
