*.bin
*.log
*.map
*.o
*.obj
*.pbi
*.pbd
*.cout
*.xcl
*.browse
*.linf
*.dbgdt
*.bat
*.dni
*.dnx
*.ps1
*.wsdt
*.wspos
*.dep
*.ewd
*.ewt
*.out
*.sim

!CLEAN.bat

SI/
doc/*.pdf
Debug/List
Debug/Obj
Release/
settings/
